<div class="row">
  <div class="col-lg-1 col-md"
<%= form_for(@user) do |f| %>
  <%= f.text_field :name,:placeholder => "user name" %>
  <%= f.email_field :email,:placeholder => "email" %>
  <%= f.password_field :password,:placeholder => "password" %>
  <%= f.submit "create account" %>
<% end %>

</div>